* {
    box-sizing: border-box;
}
body {
    background-color: darkgrey;
    font-size: 130%;
}
p {
            color: blue;
            font-size: smaller;
            background: blue;
        }
        p.blue {
            color: crimson;
        }
        section > article {
            color: coral;
        }
        article p {
            color: darkgoldenrod;
        }
        .blue {
            color: cornflowerblue;
            text-align: end;
        }
        #top {
            font-style: italic;
        }
        a:hover, a:active {
            background-color: darkgoldenrod;
        }